body {
  margin: 0 auto;
}

#siteContainer {
  max-width: 100%;
  background-color: white;
  position: absolute;
}

.hidden {
  opacity: 0;
  height: 0;
}

/*header*/
#mainHeader {
	position: fixed;
	z-index: 999;
	width: 100%;
  background-color: black;
  height: 5em;
}

.menu-icon {
  overflow: auto;
  height: 3em;
}

.menu-icon::after
{
	background: #ffffff;
	box-shadow: 0 0.4375em 0 #ffffff, 0 0.875em 0 #ffffff;
	margin-top: 1.375em;
  transition: all 0.8s ease;
}

#hamMenu {
  margin-right: 2em;
  padding-top: 0.75em;
  float: right;
  height: 2em;
}

#main-menu {
  clear: both;
  padding-top: 3em;
}

#main-menu ul {
  list-style: none;
  text-align: center;
  margin: 0 auto;
}

#main-menu ul li{
  background-color: #3a589b;
  transition: all 0.8s ease;
  padding-top: 1em;
  padding-bottom: 1em;
}

#main-menu ul li:hover{
  background-color: black;
}

#main-menu ul li a{
  text-align: center;
  font-size: 1.2em;
  font-family: 'Autumn';
  color: white;
  transition: all 0.8s ease;
}

#main-menu ul li a:hover{
  color: #cb2027;
}

@media screen and (min-width: 1024px) {
  #main-menu {
    padding-top: 2em;
  }

  #main-menu ul li {
    display: inline;
    background-color: black;
    margin-right: 12%;
  }

  #main-menu ul li:nth-child(5){
    margin-right: 0;
  }
}

/*promo*/
#promoCon {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

#promoBcg {
  width: 100%;
  height: 500px;
  z-index: 400;
}

@media screen and (min-width: 720px) {
  #promoBcg {
    height: 600px;
  }
}

@media screen and (min-width: 1024px) {
  #promoBcg {
    height: 800px;
  }
}

@media screen and (min-width: 1440px) {
  #promoBcg {
    height: 1000px;
  }
}

#promoLogo {
  width: 100px;
  margin-top: -550px;
}

#promoPara {
  color: white;
  font-family: 'Work Sans';
  font-weight: 200;
  font-size: 1.5em;
  z-index: 500;
  margin-top: -200px;
  padding-bottom: 100px;
}

@media screen and (min-width: 720px) {
  #promoLogo {
    width: 200px;
    margin-top: -700px;
  }
}

@media screen and (min-width: 1024px) {
  #promoLogo {
    margin-top: -800px;
  }

  #promoPara{
    margin-top: -300px;
    font-size: 3em;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1440px) {
  #promoLogo {
    margin-top: -1100px;
  }
}

/*ahout*/
#about {
  clear: both;
  margin-top: 3.125em;
  text-align: center;
}

.aboutpa {
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: 'Arail';
  width: 80%;
  margin-left: 10%;
}

@media screen and (min-width: 720px) {
  .aboutpa {
    width: 50%;
    margin-left: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .aboutCon {
    width: 25%;
    float: left;
    margin-right: 6.25%;
    padding-bottom: 8em;
    padding-top: 8em;
  }

  #aboutCon1 {
    margin-left: 6.25%;
  }

  .aboutpa {
    width: 100%;
    margin-left: 0;
  }
}
/*resume*/
#resume {
  clear: both;
  margin-top: 3.125em;
  text-align: center;
  background: url(../images/resume_bcg.png) center center / cover no-repeat;
  overflow: hidden;
}

#resume h2 {
  font-family: 'Autumn';
  padding-top: 2em;
  padding-bottom: 1em;
  color: white;
}

#resumeImg {
  width: 80%;
  padding-bottom: 2em;
}

#resumePara {
  width: 80%;
  margin-left: 10%;
  color: white;
  font-family: 'Arail';
}

#download {
  color: white;
  font-family: 'Arail';
  transition: all 0.5s ease;
}

#download:hover {
  color: red;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  #resumeImg {
    width: 35%;
    margin-left: -50%;
  }

  #resumePara {
    margin-left: 50%;
    margin-top: -48%;
    padding-bottom: 3%;
    width: 40%;
    font-size: 1.2em;
  }

  #download {
    font-size: 1.6em;
    float: right;
    margin-right: 15%;
    padding-bottom: 5%;
  }

  #resume {
    height: 800px;
  }
}

@media screen and (min-width: 1294px) {
  #resumePara {
    margin-top: -35%;
  }

  #download {
    font-size: 1.8em;
  }

  #resumeImg {
    width: 30%;
  }
}

@media screen and (min-width: 1540px) {
  #resumePara {
    margin-top: -36%;
    width: 30%;
    margin-left: 60%;
  }

  #download {
    font-size: 1.8em;
  }

  #resume {
    height: 1000px;
  }
}
/*work*/
#works {
  clear: both;
  margin-top: 3.125em;
  text-align: center;
}

.lightboximage {
  margin-bottom: 2em;
}

@media screen and (min-width: 1493px) {
  #workCon{
    width: 75%;
    margin-left: 12.5%;
    padding-top: 5%;
  }

  #works{
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

/*lightbox*/
#Galightbox {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5000;
}

#GalightboxImg {
  display: block;
  margin: auto;
  width: 100%;
  margin-top: 10%;
}

.lightboximage {
  transition: all 0.5s ease;
  cursor: pointer;
}

.lightboximage:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.Reworkname {
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Autumn';
  font-size: 1.2em;
}

#workdesc {
  text-align: center;
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
  color: white;
  font-family: 'Arail';
  font-size: 1em;
}

#worklink {
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Arail';
  font-size: 1.2em;
  transition: all 0.5s ease;
}

#worklink:hover {
  color: red;
  cursor: pointer;
}

.close-lightbox {
	margin-left: 80%;
	margin-top: 10%;
	cursor: pointer;
	color: white;
}

.close-lightbox:hover {
	transform: rotate(90deg);
	transition: all .5s ease;
}

@media screen and (min-width: 540px) {
  #GalightboxImg {
    width: 540px;
    margin-top: 54px;
  }

  .close-lightbox {
    margin-top: 54px;
  }

  #workdesc {
    margin-top: 27px;
    width: 80%;
  }
}

@media screen and (min-width: 1050px) {
  #workdesc {
    margin-top: 27px;
    width: 50%;
    margin-left: 25%;
  }
}

@media screen and (min-width: 1050px) {
  #workdesc {
    margin-top: 27px;
    width: 40%;
    margin-left: 30%;
  }
}

/*contact*/
#contact {
  margin-top: 50px;
  color: white;
  text-align: center;
  background: url(../images/contact1.png) center center / cover no-repeat;
}

#contact h2 {
  padding-top: 2em;
  font-family: 'Autumn';
}

#contactPara {
  width: 80%;
  margin-left: 10%;
  font-family: 'Arail';
}

#contactForm form label {
  color: white;
  font-family: 'Arail';
  font-size: 1.2em;
}

.contactinput {
  width: 80%;
  margin-left: 10%;
}

#message {
  width: 80%;
  margin-left: 10%;
}

@media screen and (min-width: 720px) {
  .contactinput {
    width: 50%;
    margin-left: 25%;
  }

  #message {
    width: 50%;
    margin-left: 25%;
  }
}

#submit {
  width: 100px;
  height: 30px;
  margin-top: 1em;
  margin-bottom: 2em;
  color: white;
  background-color: black;
  transition: all 0.5s ease;
}

#submit:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (min-width: 1024px) {
  #contactPara {
    width: 40%;
    float: left;
    margin-top: 5%;
    font-size: 1.2em;
  }

  #contactForm {
    width: 40%;
    float: right;
    margin-right: 10%;
    margin-top: 5%;
  }

  #contact {
    height: 700px;
  }

  .contactinput {
    width: 80%;
  }

  #message {
    width: 80%;
  }

  #contactForm form label {
    float: left;
    margin-left: 25%;
  }

  #submit {
    margin-left: 30%;
  }
}

@media screen and (min-width: 1441px) {
  #contactPara {
    font-size: 1.2em;
  }

  #contact {
    height: 800px;
  }
}
/*footer*/
#mainfooter {
  background-color: black;
  text-align: center;
}

#footerlogo {
  width: 100px;
  margin-top: 1em;
}

#socialicon {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
